*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1, h2{
    
    color: #ffffff;
}
h1 {
    
    font-size: 40px;
    margin-bottom: 20px;
}
h2{
    
    font-size: 25px;
    margin-bottom: 10px;
}
.main-text{
    
    text-align: justify;
    margin-bottom: 20px;
    
}
.author-text{
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
.author-about-text {
    font-size: 18px;
    margin-top: 60px;
    margin-left: 170px;
    text-align: justify;
}
.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-posts {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {
    width: 75%;
    border-top: 1px solid #6f6f6f;
    padding-top: 20px;
}

.other {
    margin-bottom: 40px;
}
.author-box img{
    height: 150px;
    width: 150px;
    border-radius: 0;
    float: left;
}

.blog-posts img{
    height: 60px;
    width: auto;
}
.date {
    position: absolute;
    top: 10px;
    right: 30px;
}
